{% extends "base.html" %}

{% block headline %}File Handle{% endblock %}

{% block content %}

<table class="form">
    <tr>    <th>Project ID</th> <td><a href="./project?project_id={{handle.ProjectID}}">{{handle.ProjectID}}</a></td> </tr>
    <tr>    <th>File DID</th> 
            <td class="code">
                    {% if not GLOBAL_MetaCatURL is none %}
                            <a href="{{GLOBAL_MetaCatURL}}/gui/show_file?namespace={{handle.Namespace}}&name={{handle.Name}}">
                                    {{handle.Namespace}}:{{handle.Name}}
                            </a>&nbsp;<a title="copy" href="javascript:copy('{{handle.Namespace}}:{{handle.Name}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a>
                    {% else %}
                            {{handle.Namespace}}:{{handle.Name}}&nbsp;<a title="copy" href="javascript:copy('{{handle.Namespace}}:{{handle.Name}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a>
                    {% endif %}
            </td>
    </tr>
    <tr>    <th>File namespace</th> <td class="code">{{handle.Namespace}}&nbsp;<a title="copy" href="javascript:copy('{{handle.Namespace}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a></td></tr>
    <tr>    <th>File name</th> <td class="code">{{handle.Name}}&nbsp;<a title="copy" href="javascript:copy('{{handle.Namespace}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a></td></tr>
    <tr>    <th>State</th> <td>{{handle.State}}</td></tr>
    <tr>    <th>Worker</th> <td>{{handle.WorkerID or ""}}</td></tr>
    <tr>    <th>Attempts</th> <td>{{handle.Attempts}}</td></tr>
    <tr>    <th>Attributes</th> 
            <td class="nopadding">
                {% if handle.Attributes|length %}
                    <table class="placement attributes dense">
                        {% for name, value in handle.Attributes.items() %}
                            <tr><td style="text-align: right">{{name}}:</td><td>{{value}}</td></tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
    </tr>
    <tr>    <th>Replicas</th>
            <td class="nopadding">
                <table class="data">
                    <tr><th>RSE</th><th>Preference</th><th>RSE available</th><th>Staged</th><th>URL</th>
                    {% for r in handle.replicas().values() %}
                        <tr>
                            <td>{{r.RSE}}</td>
                            <td>{{r.Preference}}</td>
                            <td class="{{'available' if r.RSEAvailable else 'unavailable'}}">{{"yes" if r.RSEAvailable else "no"}}</td>
                            <td class="{{'available' if r.Available else 'unavailable'}}">{{"yes" if r.Available else "no"}}</td>
                            <td class="code" style="text-align:left">{{r.URL}}&nbsp;<a title="copy" href="javascript:copy('{{r.URL}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a></td>
                        </tr>
                    {% endfor %}
                </table>
        </td> 
    </tr>
    {% if handle_log is not none and handle_log|length %}
    <tr>    <th>Handle log</th>
            <td class="nopadding">
                <table class="data">
                    <tr><th>Time</th><th>Event</th><th>Old state</th><th>State</th><th>Worker</th><</tr>
                    {% for log_record in handle_log %}
                        <tr>
                            <td>{{log_record.T|as_dt_utc}}</td>
                            <td>{{log_record.Data["event"]|none_as_blank}}</td>
                            <td class="{{log_record.Data['old_state']}}">{{log_record.Data["old_state"]|none_as_blank}}</td>
                            <td class="{{log_record.Data['state']}}">{{log_record.Data["state"]|none_as_blank}}</td>
                            <td>{{log_record.Data["worker"]|none_as_blank}}</td>
                            <td style="text-align:left">{{ log_record._RestOfData|format_log_data }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
    </tr>
    {% endif %}
</table>

{% endblock %}



