{% extends "base.html" %}

{% block headline %}Project {{project.ID}}{% endblock %}

{% block content %}

<table class="form">
    <tr>    <th>Project ID</th>         <td>{{project.ID}}</td> </tr>
    <tr>    <th>User</th>               <td>{{project.Owner}}</td> </tr>
    <tr>    <th>Created</th>            <td>{{project.CreatedTimestamp|as_dt_utc}}</td> </tr>
    <tr>    <th>Ended</th>              
            <td>{% if not project.EndTimestamp is none %}
                    {{project.EndTimestamp}}
                {% endif %}
            </td> 
    </tr>

    <tr>    <th>Status</th>             <td><span class="{{project.State}}" style="padding: 3px">{{project.State}}</span></td> </tr>
    <tr>    <th>Query</th>              <td><pre>{{project.Query or ""}}</pre></td> </tr>
    <tr>    <th>Attributes</th>         <td class="nopadding">
            {% if project.Attributes|length %}
                <table class="placement attributes dense">
                    {% for name, value in project.Attributes.items() %}
                        <tr><td style="text-align: right">{{name}}:</td><td>{{value}}</td></tr>
                    {% endfor %}
                </table>
            {% endif %}
            </td> 
    </tr>
    <tr>    <th>Handles by state</th>
            <td class="nopadding">
                <table class="placement dense">
                    <tr>
                    {% for state in states -%}
                        <td class="{{state}}">{{state}}:&nbsp{{handle_counts_by_state[state]}}</td>
                    {% endfor %}
                    </tr>
                </table>
            <td>
    </tr>
    <script type="text/javascript">
        var CanvasH = 10;
        var CanvasW = 400;
        var EventColors = {
                "initial":    "#EEE",
                "found":      "#CCC", 
                "available":  "#8F8",
                "reserved":   "#AAF", 
                "done":       "#4A4", 
                "failed":     "#F44"
        };
        
        function show_timeline(canvas, now, handle_timeline, file_timeline)
        {
            canvas.setAttribute("height", CanvasH);
            canvas.setAttribute("width", CanvasW);
            
            var t0 = 0.0;       // relative to project creation
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0,0,CanvasW,CanvasH);
            if( false )
                for( event of file_timeline )
                {
                    var t = event.t;
                    var e = event.event;
                    var color = EventColors[e];
                    if( color != null )
                    {
                        ctx.fillStyle = color;
                        var x = t/now * CanvasW;
                        ctx.fillRect(x,CanvasH/2,CanvasW-x,CanvasH/2);
                    }
                }
            for( event of handle_timeline )
            {
                var t = event.t;
                var e = event.state;
                var color = EventColors[e];
                if( color != null )
                {
                    ctx.fillStyle = color;
                    var x = t/now * CanvasW;
                    ctx.fillRect(x,0,CanvasW-x,CanvasH);
                }
            }
        }
    </script>
    <tr>    
            <th>Handles</th>
            <td>
                <table class="data replicas">
                    <tr>
                        <th></th><th>File</th><th>Status</th><th>Replicas(available)</th><th>Worker</th><th>Attempts</th><th>Timeline</th>
                    </tr>
                    {% for handle in handles %}
                        {% set did = handle.Namespace + ":" + handle.Name %}
                        <tr>
                            <td><a href="javascript:toggle_handle_log('{{did}}')">log</a></td>
                            <td><a href="./handle?project_id={{project.ID}}&namespace={{handle.Namespace}}&name={{handle.Name}}">{{did}}</a></td>
                            {% set state = handle.state() %}
                            <td class="{{state}}">{{state}}</td>
                            <td>{{handle.n_replicas}} ({{handle.n_available_replicas}})</td>
                            <td>{{handle.WorkerID or ""}}</td>
                            <td>{{handle.Attempts}}</td>
                            <td><canvas id="timeline:{{did}}" style="vertical-align: middle"></canvas></td>
                            <script type="text/javascript">
                                var handle_timeline = [];
                                {% for record in handles_log[did] %}
                                        {% if record.Type == "state" %}
                                            handle_timeline.push(
                                                {   t: {{project.time_since_created(record.T)}},
                                                    state: "{{record['state']}}"
                                                }
                                            );
                                        {% endif %}
                                {% endfor %}
                                {#
                                        var file_timeline = [
                                        {% for record in files_log[did] %}
                                            {   t: {{project.time_since_created(record.T)}},
                                                event: "{{record.Type}}"
                                            }{{"," if not loop.last}}
                                        {% endfor %}
                                    ];
                                #}
                                var now = {{project.time_since_created()}};
                                show_timeline(document.getElementById("timeline:{{did}}"), now, handle_timeline);           //, file_timeline);
                            </script>
                        </tr>
                        <tr id="handle_log:{{did}}" style="visibility:hidden; display:none">
                            <td colspan=6>
                                <table class="data">
                                    <tr>
                                        <th>Time</th><th>Event</th><th>Data</th>
                                    </tr>
                                    {% for record in combined_log[did] %}
                                        <tr>
                                            <td>{{record.T|as_dt_utc}}</td>
                                            <td class="{{record.Type}}">{{record.Type}}</td>
                                            <td>{% for name, value in record.Data.items()|sort -%}
                                                    {{name}}={{value}}&nbsp;
                                                {%- endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    <script>
                        function toggle_handle_log(did)
                        {
                            var element_id = "handle_log:"+did;
                            var element = document.getElementById(element_id);
                            if( element != null )
                            {
                                var v = element.style.visibility;
                                if( v == "hidden" )
                                {
                                    element.style.visibility = "visible";
                                    element.style.display = "table-row";
                                }
                                else
                                {
                                    element.style.visibility = "hidden";
                                    element.style.display = "none";
                                }
                            }
                        }
                    </script>
                </table>
            </td>
    </tr>
    {#
    <tr>    <th>Progress</th>
            <td><canvas id="progress_chart" width=600 height=400></svg></td>
    </tr>
    #}
    
    <tr>
            <td></td>
            <td>
                <table class="data">
                    <tr>
                        <th colspan=2>Time</th>
                        <th>Event</th>
                        <th>File</th>
                        <th>Worker</th>
                        <th>Data</th>
                    </tr>
                    {% for l in handle_log %}
                        <tr>
                            <td>{{l.T}}</td>
                            <td>{{project.time_since_created(l.T)|pretty_time_delta}}</td>
                            <td class="{{l.Type}}">{{l.Type}}</td>
                            <td>{{l.Namespace}}:{{l.Name}}</td>
                            <td>{{l.Data.get("worker") or ""}}</td>
                            <td>{% for n, v in l.Data.items() %}
                                    {% if n != "worker" %}
                                        {{n}}: {{v}} {% if not loop.last %}<br/>{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
    </tr>
    
    {#
    <script type="text/javascript">
        var project_handle_counts_log = [
            {% for log_record in handle_log %}
                // {{log_record}}
                [ {{log_record.T.timestamp()}}, "{{log_record.Type}}", {{"true" if log_record.Data.get("retry") else "false"}} ]
                            {%- if not loop.last %},{% endif %}
            {% endfor %}
        ];
        var n_handles = {{handles|length}}
        var n_ready = n_handles;
        var n_reserved = 0;
        var n_done = 0;
        var n_failed = 0;
        var t0 = Math.round({{project.CreatedTimestamp.timestamp()}});
        var t1 = Math.round(new Date().valueOf()/1000);
        var t = t0;
        var counts_log = [];
        for( item of project_handle_counts_log )
        {
            var tt = Math.floor(item[0]);
            if( tt != t )
            {
                if( t != null )
                    counts_log.push([t-t0, n_ready, n_reserved, n_done, n_failed]);
                t = tt;
            }
            var type = item[1];
            if( type == "reserved" )
            {
                n_reserved += 1;
                n_ready -= 1;
            }
            else if ( type == "failed" )
            {
                n_reserved -= 1;
                if ( item[2] )
                    n_ready += 1;
                else
                    n_failed += 1;
            }
            else if ( type == "done" )
            {
                n_reserved -= 1;
                n_done += 1;
            }
        }
        counts_log.push([t-t0, n_ready, n_reserved, n_done, n_failed]);
        counts_log.push([t1-t0, n_ready, n_reserved, n_done, n_failed]);

        var canvas = document.getElementById("progress_chart");
        var width = parseInt(canvas.getAttribute("width"));
        var height = parseInt(canvas.getAttribute("height"));
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0,0,width,height);      
        
        var dt = Math.max(t1-t0, 1.0);
        var dxdt = Math.min(width/dt, 10.0);
        var dydn = Math.min(height/n_handles, 10);
        
        var colors = [
            "#CCE",         // ready
            "#FF8",         // reserved
            "#DDE",         // done
            "#FAA"          // failed
        ];
        
        var tup0 = counts_log[0];
        for( var i = 1; i < counts_log.length; i++ )
        {
            var tup1 = counts_log[i];
            var y = 0;
            var tt0 = tup0[0];
            var tt1 = tup1[0];
            var xx0 = tt0 * dxdt;
            var dx = (tt1-tt0) * dxdt;
            
            for( var k = 0; k < 4; k++ )
            {
                var n = tup0[k+1];
                if( n > 0 )
                {
                    var c = colors[k];
                    var dy = n * dydn;
                    ctx.fillStyle = c;
                    ctx.fillRect(xx0,y,dx,dy);
                    y += dy;
                }
            }
            tup0 = tup1;
        }
        


    </script>
    #}
</table>

{% endblock %}



