{% extends "base.html" %}

{% block html_head %}
<style type="text/css">
	svg.timeline text.tooltip {display: none;}
	svg.timeline g:hover text.tooltip {display: block;}
</style>
{% endblock %}

{% block headline %}Project {{project.ID}}{% endblock %}

{% block content %}

<table class="form">
    <tr>    <th>Project ID</th>         <td>{{project.ID}}</td> </tr>
    <tr>    <th>User</th>               <td>{{project.Owner}}</td> </tr>
    <tr>    <th>Created</th>            <td>{{project.CreatedTimestamp|as_dt_utc}}</td> </tr>
    <tr>    <th>Ended</th>              
            <td>{% if not project.EndTimestamp is none %}
                    {{project.EndTimestamp}}
                {% endif %}
            </td> 
    </tr>

    <tr>    <th>Status</th>             <td><span class="{{project.State}}" style="padding: 3px">{{project.State}}</span></td> </tr>
    <tr>    <th>Query</th>              <td><pre>{{project.Query or ""}}</pre></td> </tr>
    <tr>    <th>Attributes</th>         <td class="nopadding">
            {% if project.Attributes|length %}
                <table class="placement attributes dense">
                    {% for name, value in project.Attributes.items() %}
                        <tr><td style="text-align: right">{{name}}:</td><td>{{value}}</td></tr>
                    {% endfor %}
                </table>
            {% endif %}
            </td> 
    </tr>
    <tr>    <th>Handles by state</th>
            <td class="nopadding">
                <table class="placement dense">
                    <tr>
                    {% for state in states -%}
                        <td class="{{state}}">{{state}}:&nbsp{{handle_counts_by_state[state]}}</td>
                    {% endfor %}
                    </tr>
                </table>
            <td>
    </tr>
    
    <script type="text/javascript">
        var CanvasH = 10;
        var CanvasW = 400;
        
        console.log("hello");
        
        function element_under(parent, type, attributes)
        {
            var element = document.createElement(type);
            if( attributes != null )
                for( attr in attributes )
                    element.setAttribute(attr, attributes[attr]);
            if( parent != null )
                parent.appendChild(element);
            return element;
        }
        
        function show_timeline(parent, now, handle_timeline, file_timeline)
        {
            var svg = element_under(parent, "svg", {
                "height":  CanvasH,
                "width":   CanvasW,
                class: "timeline"
            });
            
            var scale_g = element_under(svg, "g", {
                transform: `scale(${CanvasW/now} 1)`
            });

            var tnext = now;

            for( j in handle_timeline )
            {
                var i = handle_timeline.length - 1 - j;
                var event = handle_timeline[i];
                var t = event.t;
                var e = event.state;
                var color = StateColors[e];
                if( color != null )
                {
                    var segment_g = element_under(scale_g, "g", {
                        transform: `translate(${t} 0)`,
                        class: "segment"
                    });
                    var hover_text = element_under(segment_g, "text", {
                        class: "tooltip",
                        x:0,
                        y:0
                    });
                    hover_text.innerHTML = `${t}...${tnext}:${e}`;
                    var the_rect = element_under(segment_g, "rect", {
                        x: t,
                        y: 0,
                        width: tnext-t,
                        height:  CanvasH,
                        style: `fill:${color}; opacity:1.0`
                    });
                    tnext = t;
                }
            }
        }
    </script>
    
    <script>
        const closed_log_arrow = "{{GLOBAL_PathPrefix}}/static/arrow-right.gif";
        const open_log_arrow = "{{GLOBAL_PathPrefix}}/static/arrow-down.gif";
    </script>

    <tr>    
            <th>Files</th>
            <td>
                <table class="data replicas">
                    <tr>
                        <th style="border-bottom: 0"></th><th>File</th><th>File<br/>Status</th><th>Replicas<br/>(available)</th><th>Workflow<br/>Status</th><th>Worker</th><th>Attempts</th><th>Timeline</th>
                    </tr>
                    {% for handle in handles %}
                        {% set did = handle.Namespace + ":" + handle.Name %}
                        <tr>
                            <td rowspan=1 id="log_toggle_td:{{did}}">
                                <a href="javascript:toggle_handle_log('{{did}}')" style="vertical-align: middle">
                                    <img id="log_toggle_img:{{did}}" width=10 height=10 style="vertical-align: middle"/>
                                    <script type="text/javascript">
                                        document.getElementById("log_toggle_img:{{did}}").src=closed_log_arrow;
                                    </script>
                                </a>
                            </td>
                            <td style="text-align:left"><a href="./handle?project_id={{project.ID}}&namespace={{handle.Namespace}}&name={{handle.Name}}">{{did}}</a></td>
                            {% set wf_state = handle.State %}
                            {% set file_state = handle.file_state() %}
                            <td class="{{file_state}}">{{file_state}}</td>
                            <td>{{handle.n_replicas}} ({{handle.n_available_replicas}})</td>
                            <td class="{{wf_state}}">{{wf_state}}</td>
                            <td>{{handle.WorkerID or ""}}</td>
                            <td>{{handle.Attempts}}</td>
                            <td id="timeline:{{did}}" style="vertical-align: middle"></td>
                            <script type="text/javascript">
                                var handle_timeline = [];
                                {% for record in handles_log[did] %}
                                        {% if record.Type == "state" %}
                                            handle_timeline.push(
                                                {   t: {{project.time_since_created(record.T)}},
                                                    state: "{{record['state']}}"
                                                }
                                            );
                                        {% endif %}
                                {% endfor %}
                                {#
                                        var file_timeline = [
                                        {% for record in files_log[did] %}
                                            {   t: {{project.time_since_created(record.T)}},
                                                event: "{{record.Type}}"
                                            }{{"," if not loop.last}}
                                        {% endfor %}
                                    ];
                                #}
                                var now = {{project.time_since_created()}};
                                show_timeline(document.getElementById("timeline:{{did}}"), now, handle_timeline);           //, file_timeline);
                            </script>
                        </tr>
                        <tr id="handle_log:{{did}}" style="visibility:hidden; display:none">
                            <td colspan=6>
                                <table class="data">
                                    <tr>
                                        <th>Time</th><th>Event</th><th>Data</th>
                                    </tr>
                                    {% for record in combined_log[did] %}
                                        <tr>
                                            <td>{{record.T|as_dt_utc}}</td>
                                            <td class="{{record.Type}}">{{record.Type}}</td>
                                            <td>{% for name, value in record.Data.items()|sort -%}
                                                    {{name}}={{value}}&nbsp;
                                                {%- endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    <script>
                        function toggle_handle_log(did)
                        {
                            var tr = document.getElementById("handle_log:"+did);
                            var toggle_img = document.getElementById("log_toggle_img:" + did);
                            var toggle_td = document.getElementById("log_toggle_td:" + did);
                            if( tr != null )
                            {
                                var v = tr.style.visibility;
                                if( v == "hidden" )
                                {
                                    tr.style.visibility = "visible";
                                    tr.style.display = "table-row";
                                    toggle_img.src=open_log_arrow;
                                    toggle_td.rowSpan = 2;
                                }
                                else
                                {
                                    tr.style.visibility = "hidden";
                                    tr.style.display = "none";
                                    toggle_img.src=closed_log_arrow;
                                    toggle_td.rowSpan = 1;
                                }
                            }
                        }
                    </script>
                </table>
            </td>
    </tr>
</table>

{% endblock %}



