{% extends "base.html" %}

{% block headline %}Projects{% endblock %}

{% block content %}

<script type="text/javascript">

    var FillColors={
        "initial": "#EEE", 
        "found": "#AAF", 
        "available": "#AFF", 
        "failed": "#FAA", 
        "reserved": "#FFA",
        "done": "#AFA"
    };
    
    var StrokeColors = FillColors;
    
    var States = {{handle_states}};
    
    function show_fractions(canvas, counts)
    {
        var width = parseInt(canvas.getAttribute("width"));
        var height = parseInt(canvas.getAttribute("height"));

        var total = 0;
        for( state in counts )
            total += counts[state];

        var dx = width/total;
        if ( dx > height )
            dx = height;

        var ctx = canvas.getContext("2d");
        ctx.clearRect(0,0,width,height);      
        var x = 0.0;
        for ( state of States )
        {
            var n = counts[state];
            if( n )
            {
                var w = counts[state] * dx;
                var f = FillColors[state];
                var s = StrokeColors[state];
                ctx.beginPath();
                ctx.fillStyle = f;
                ctx.strokeStyle = s;
                ctx.fillRect(x,0,w,height);
                ctx.rect(x,0,w,height);
                ctx.stroke();
                x += w;
            }
        }
    }

</script>

<table class="data">
	<tr>
		<th rowspan=2>Project ID</th>
        <th rowspan=2>User</th>
		<th rowspan=2 colspan=2>Status</th>
		<th colspan="{{handle_states|length}}">File counts</th>
	</tr>
    <tr>
        {% for state in handle_states %}
            <th>{{state}}</th>
        {% endfor %}
    </tr>
	{% for prj in projects %}
		<tr>
            <td><a href="./project?project_id={{prj.ID}}">{{prj.ID}}</a></td>
            <td>{{prj.Owner}}</td>
            <td>{{prj.State}}</td>
            <td style="vertical-align:middle"><canvas height=10 width=200 id="cnv_{{prj.ID}}"></canvas>
                
                <script type="text/javascript">
                    var counts = {};
                    {% for state, count in prj.HandleCounts.items() %}
                        counts["{{state}}"] = {{count}};
                    {% endfor %}
                    show_fractions(document.getElementById("cnv_{{prj.ID}}"), counts);
                </script>
            </td>
            {% for state in handle_states %}
                <td>{{prj.HandleCounts[state]}}</td>
            {% endfor %}
        </tr>
	{% endfor %}
</table>

{% endblock %}



