{% extends "base.html" %}

{% block headline %}File Handle{% endblock %}

{% block content %}

<table class="form">
    <tr>    <th>Project ID</th> <td><a href="./project?project_id={{project.ID}}">{{project.ID}}</a></td> </tr>
    <tr>    <th >State</th> <td><span class="{{project.State}}" style="padding:2px">{{project.State}}</span></td></tr>
    <tr>    <th>Handles log</th>
            <td>
                {% if page_index %}
                    <p style="white-space:pre">page:{%- for p, link in page_index -%}
                                {%- if link is not none -%}
                                    &nbsp;&nbsp;<a href="{{link}}">{{p}}</a>
                                {%- else -%}
                                    &nbsp;&nbsp;{{p}}
                                {%- endif -%}
                            {%- endfor -%}
                    </p>
                {% endif %}
                <table class="data">
                    <tr><th>Time</th><th>Event</th><th>Old state</th><th>State</th><th>Worker</th><th>Data</th><th>DID</th></tr>
                    {% for log_record in records %}
                        {% set worker_id=log_record.Data["worker"] %}
                        <tr>
                            <td>{{log_record.T|as_dt_utc}}</td>
                            <td>{{log_record.Data["event"]|none_as_blank}}</td>
                            <td class="{{log_record.Data['old_state']}}">{{log_record.Data["old_state"]|none_as_blank}}</td>
                            <td class="{{log_record.Data['state']}}">{{log_record.Data["state"]|none_as_blank}}</td>
                            <td>{% if worker_id %}{{worker_id}}&nbsp;<a title="copy" href="javascript:copy('{{worker_id}}')"><img class="copy_button"
                                    src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a>
                                {% endif %}
                            </td>
                            <td style="text-align:left">{{ log_record._RestOfData|format_log_data }}</td>
                            <td class=code style="text-align:left"><a href="./handle?project_id={{project.ID}}&namespace={{log_record.Namespace}}&name={{log_record.Name}}">{{log_record.Namespace}}:{{log_record.Name}}</a>
                            &nbsp;<a title="copy" href="javascript:copy('{{log_record.Namespace}}:{{log_record.Name}}')"><img class="copy_button"
                                                                src="{{GLOBAL_AppTopPath}}/static/copy.png"/></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
    </tr>
</table>

{% endblock %}



