{% extends "base.html" %}

{% block html_head %}
<script src="{{GLOBAL_AppTopPath}}/static/js/request.js"></script>
<style type="text/css">
    .query_text {
        font-family:  source_code, monospace;
        
    }
</style>
{% endblock %}

{% block headline %}Projects{% endblock %}

{% block content %}

<script type="text/javascript">
    var States = {{handle_states}};
    
    function show_fractions(canvas, counts)
    {
        var width = parseInt(canvas.getAttribute("width"));
        var height = parseInt(canvas.getAttribute("height"));

        var total = 0;
        for( state in counts )
            total += counts[state];

        var dx = width/total;
        if ( dx > height )
            dx = height;

        var ctx = canvas.getContext("2d");
        ctx.clearRect(0,0,width,height);      
        var x = 0.0;
        for ( state of States )
        {
            var n = counts[state];
            if( n )
            {
                var w = counts[state] * dx;
                var f = StateColors[state];
                var s = StateColors[state];
                ctx.beginPath();
                ctx.fillStyle = f;
                ctx.strokeStyle = s;
                ctx.fillRect(x,0,w,height);
                ctx.rect(x,0,w,height);
                ctx.stroke();
                x += w;
            }
        }
    }

    function show_counts(counts, project_id)
    {
        console.log("counts for ", project_id, ": ", counts);
        for( state in counts )
        {
            const count = counts[state];
            if( count > 0 )
            {
                var o = document.getElementById("handle_state_count:" + project_id + ":" + state);
                if( o != null )
                    o.innerHTML = "" + counts[state];
                o.className = state.replace(" ", "_");
            }
        }
    }
    
    function handle_counts_received(counts, project_id)
    {
        show_counts(counts, project_id);
        var fractions_canvas = document.getElementById("cnv_"+project_id);
        show_fractions(fractions_canvas, counts);
    }
</script>


{% if not page_index is none %}
    <p>page:{%- for p, link in page_index -%}
                {%- if link is not none -%}
                    &nbsp;&nbsp;<a href="{{link}}">{{p+1}}</a>
                {%- else -%}
                    &nbsp;&nbsp;{{p+1}}
                {%- endif -%}
            {%- endfor -%}
    </p>
{% endif %}

<h3>Search</h3>
<form action="" method="POST">
    <table class="form">
        <tr>
            <th>User</th><td><input type="text" name="search_user" value="{{search_user or ''}}"/></td>
        </tr>
        <tr>
            <th>Created after (UTC)</th><td><input type="text" name="search_created_after" value="{{search_created_after or ''}}"/> <span style="color:gray">YYYY-MM-DD[ HH:MM:SS]</span></td>
        </tr>
        <tr>
            <th>Created before (UTC)</th><td><input type="text" name="search_created_before" value="{{search_created_before or ''}}"/> <span style="color:gray">YYYY-MM-DD[ HH:MM:SS]</span></td>
        </tr>
        <tr>
            <th>Active projects only</th><td><input type="checkbox" name="search_active_only" {% if search_active_only %} checked="checked" {% endif %}/></td>
        </tr>
        <tr>
            <th>Search projects</th>
            <td><textarea class="query_text" name="query" cols=60 rows=5>{{query_text}}</textarea></td>
            <td><a href="https://data-dispatcher.readthedocs.io/en/latest/project_query.html">help</a></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" name="action" value="Search"/></td>
        </tr>
    </table>
</form>
    
<table class="data">
	<tr>
		<th rowspan=2>Project ID</th>
        <th rowspan=2>User</th>
		<th rowspan=2 colspan=2>Status</th>
		<th colspan="{{handle_states|length}}" class="combined">File counts per state</th>
	</tr>
    <tr>
        {% for state in handle_states %}
            <th>{{state}}</th>
        {% endfor %}
    </tr>
	{% for prj in projects %}
		<tr>
            <td><a href="./project?project_id={{prj.ID}}">{{prj.ID}}</a></td>
            <td>{{prj.Owner}}</td>
            <td class="{{prj.State}}">{{prj.State}}</td>
            <td style="vertical-align:middle"><canvas height=10 width=200 id="cnv_{{prj.ID}}"></canvas>
            </td>
            {% for state in handle_states %}
                <td id="handle_state_count:{{prj.ID}}:{{state}}"></td>
            {% endfor %}
        </tr>
        
        <script type="text/javascript">
            simple_request("./handle_state_counts?project_id={{prj.ID}}", handle_counts_received, "json", {{prj.ID}})
        </script>
	{% endfor %}
</table>


{% endblock %}



