{% extends "base.html" %}

{% block html_head %}
<style type="text/css">
	svg#project_history_svg text {display: none;}
	svg#project_history_svg g:hover text {display: block;}
</style>

<script src="{{GLOBAL_AppTopPath}}/static/js/request.js"></script>

{% endblock %}

{% block headline %}Project {{project.ID}}{% endblock %}

{% block content %}

<table class="form">
    <tr>    <th>Project ID</th>         <td>{{project.ID}}</td> </tr>
    <tr>    <th>User</th>               <td>{{project.Owner}}</td> </tr>
    <tr>    <th>Created</th>            <td>{{project.CreatedTimestamp|as_dt_utc}}</td> </tr>
    <tr>    <th>Worker timeout</th>     <td>{{project.WorkerTimeout|none_as_blank}}</td></tr>
    <tr>    <th>Idle timeout</th>       <td>{{project.IdleTimeout|none_as_blank}}</td></tr>
    <tr>    <th>Ended</th>              
            <td>{% if not project.EndTimestamp is none %}
                    {{project.EndTimestamp|as_dt_utc}}
                {% endif %}
            </td> 
    </tr>

    <tr>    <th>Status</th>             <td><span class="{{project.State}}" style="padding: 3px">{{project.State}}</span></td> </tr>
    <tr>    <th>Query</th>              <td><pre>{{project.Query or ""}}</pre></td>
            {#
                {% if project.Query or False and not GLOBAL_MetaCatURL is none %}
                <td><a href="{{GLOBAL_MetaCatURL}}/gui/query?query={{project.quoted_query()}}&run=yes">run query</a></td>
                {% endif %}
            #}
    </tr>
    <tr>    <th>Project attributes</th>         <td class="nopadding">
            {% if project.Attributes|length %}
                <table class="placement attributes dense">
                    {% for name, value in project.Attributes.items() %}
                        <tr><td style="text-align: right">{{name}}:</td><td>{{value}}</td></tr>
                    {% endfor %}
                </table>
            {% endif %}
            </td> 
    </tr>
    <tr>    <th>Project history</th>         
            <td>
                <span id="count_display"></span><br/>
                <svg id="project_history_svg" height=100 width=800 onmouseout="display_count()"></svg>
                <script type="text/javascript">
                    function display_count(label, n)
                    {
                        var d = document.getElementById("count_display");
                        if( label == null )
                            d.innerHTML = "";
                        else
                        {
                            d.innerHTML = label + ": " + n;
                            d.className = label;
                        }
                    }
                </script>
            </td> 
    </tr>
    <tr>    
            <th>Files</th>
            <td class="nopadding">
                <table class="placement dense">
                    <tr>
                    {% for state in states -%}
                        <td class="{{state}}">
                            {% if state in state_index %}
                                <a href="{{state_index[state]}}">{{state}}:&nbsp{{handle_counts_by_state[state]}}</a>
                            {% else %}
                                {{state}}:&nbsp{{handle_counts_by_state[state]}}
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                </table>
                {% if not page_index is none %}
                    <p>page:{%- for p, link in page_index -%}
                                {%- if link is not none -%}
                                    &nbsp;&nbsp;<a href="{{link}}">{{p+1}}</a>
                                {%- else -%}
                                    &nbsp;&nbsp;{{p+1}}
                                {%- endif -%}
                            {%- endfor -%}
                    </p>
                {% endif %}
                <table class="data replicas">
                    <tr>
                        <th>File</th>
                        <th>File<br/>Status</th>
                        <th>Replicas<br/>(available)</th>
                        <th>Workflow<br/>Status</th>
                        <th>Worker</th>
                        <th>Attempts</th>
                    </tr>
                    {% for handle in handles %}
                        {% set did = handle.Namespace + ":" + handle.Name %}
                        {% set wf_state = handle.State %}
                        <tr id="state:{{wf_state}}">
                            <td style="text-align:left"><a href="./handle?project_id={{project.ID}}&namespace={{handle.Namespace}}&name={{handle.Name}}">{{did}}</a></td>
                            {% set file_state = handle.file_state() %}
                            <td class="{{file_state}}">{{file_state}}</td>
                            <td>{{handle.n_replicas}} ({{handle.n_available_replicas}})</td>
                            <td class="{{wf_state}}">{{wf_state}}</td>
                            <td>{{handle.WorkerID or ""}}</td>
                            <td>{{handle.Attempts}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
    </tr>
    <tr>
        <th>Project log</th>
        <td class="nopadding">
            <table class="data">
                <tr><th>Time</th><th>Type</th><th>Data</th></tr>
                {% for log_record in project.get_log() %}
                    <tr>
                        <td>{{log_record.T|as_dt_utc}}</td>
                        <td class="{{log_record.Type}}">{{log_record.Type}}</td>
                        <td style="text-align:left">{{ log_record.Data|format_log_data }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    
    function project_history_received(data, param)
    {
        var canvas = document.getElementById("project_history_svg");
        if( data.length <= 0 )
            return;
        const svgns = "http://www.w3.org/2000/svg";

        var width = parseInt(canvas.getAttribute("width"));
        var height = parseInt(canvas.getAttribute("height"));

        var nmax = 0;
        var tmin = null;
        var tmax = null;
        var record;
        const margin = 3;

        for( record of data )
        {
            if( tmin == null || tmax == null )
            {
                tmin = record.t;
                tmax = record.t;
            }
            else
                tmax = record.t;        // assume sorted by time
            let n = record.initial + record.done + record.failed + record.reserved;
            if( n > nmax )  nmax = n;
        }
        var dx = (width - margin)/(tmax - tmin);        // 10 is margin for the time from last update to now
        if( dx > 10 )
            dx = 10;            // pixels per second
        var i;
        var dy = height/nmax;
        for ( i=0; i<data.length; i++ )
        {
            const r = data[i];
            
            var t = r.t;
            var x_next;
            var x = Math.round((t-tmin)*dx);
            if( i < data.length - 1 )
                x_next = Math.round((data[i+1].t - tmin)*dx);
            else
                x_next = x+margin;
            let w = x_next - x;
            if ( w > 0 )
            {
                var n_ready = r.initial;
                var n_reserved = r.reserved;
                var n_failed = r.failed;
                var n_done = r.done;
            
                let labels = ["initial", "failed", "done", "reserved"];
                y = 0;
                for ( label of labels )
                {
                    let n = r[label];
                    if( n > 0 )
                    {
                        let color = StateColors[label];
                        let h = Math.round(n * dy);
                        if( h > 0 )
                        {
                            var rect = document.createElementNS(svgns, 'rect');
                            rect.setAttribute("x", x);
                            rect.setAttribute("y", y);
                            rect.setAttribute("width", w);
                            rect.setAttribute("height", h);
                            rect.setAttribute("style", "stroke-width:0;" + "fill:"+color+";");
                            
                            rect.setAttribute("onmouseover", "display_count('"+label+"',"+n+")");
                            canvas.appendChild(rect);
                            y += h;
                        }
                    }
                }
            }
        }   
    }
    simple_request("./handle_counts_history?project_id={{project.ID}}", project_history_received, "json", null)
</script>


{% endblock %}



