{% extends "base.html" %}

{% block headline %}RSEs{% endblock %}

{% block content %}

{% if is_admin %}
    <p>
        <a href="./create">create</a>
    </p>
{% endif %}

<table class="data rses">
	<tr>
		<th>Name</th>
        <th>Enabled</th>
        <th>Type</th>
		<th>Available</th>
		<th>Description</th>
	</tr>
    {% for rse in rses %}
        {% if rse.Enabled %}
            {% set status = 'available' if rse.Available else 'unavailable' %}
            {% set enabled = 'enabled' if rse.Enabled else 'disabled' %}
            <tr class="{{enabled}}">
                <td><a href="./rse?name={{rse.Name}}">{{rse.Name}}</a></td>
                <td>{{enabled}}</td>
                <td>{{'tape' if rse.Tape else 'disk'}}</td>
                <td class="{{status}}">{{status}}</td>
                <td>{{rse.Description}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}



